@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_BackendNavBar.cshtml")


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <!-- Generelle Verwaltung-->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Backend")><span data-feather="home"></span>Dashboard</a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Medien</span>
                    <a class="d-flex align-items-center text-muted" href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="backend_bilder.html">
                            <span data-feather="file-text"></span>
                            Bilder
                        </a>
                    </li>
                </ul>
                <!---------------------->
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Überschrift -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Bilder</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                    </div>
                </div>
            </div>
            <!----------------->
            <!-- Bilder -->
            <div class="container">
                <div class="row">
                    <div class="bilderRow row">
                    </div>
                </div>
            </div>
            <!----------------->
            <!-- Überschrift -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Bilder, Audio-Dateien oder Videos hochladen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="min-height: 150px;">
                            <div class="demo-container">
                                <div id="fileuploader">
                                    <div class="widget-container">
                                        <div id="file-uploader"></div>
                                        <div class="content" id="selected-files">
                                            <div>
                                                <h4>Ausgewählte Dateien</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <div class="caption">Optionen</div>
                                        <div class="option">
                                            <span>Datei Typen</span>
                                            <div id="accept-option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                            <button type="button" class="btn btn-primary">Hochladen</button>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------->

        </main>
    </div>
</div>


<script type="text/javascript" src="~/js_jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/js_devextreme/dx.all.js"></script>
<script type="text/javascript" src="~/js_bootstrap/bootstrap.min.js"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/js/backend_bilder.js"></script>